POSTGRES_USER=tasklist
POSTGRES_PASSWORD=tasklist
POSTGRES_DB=tasklist
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=ZGV2LXNlY3JldC1rZXktZm9yLXRhc2tsaXN0LWFwcGxpY2F0aW9uLTI1Ni1iaXRz
PGADMIN_DEFAULT_EMAIL=admin@jtech.com.br
PGADMIN_DEFAULT_PASSWORD=admin
